@media only screen and (min-width:1025px) {
    body {
        font-family: 'Ubuntu', Helvetica, sans-serif;
        font-size: 18px;
    }

    .containair {
        padding: 0px 7vw 0px 7vw;
        line-height: 1.5;

    }

    .hidden {
        overflow: hidden;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px 50px 60px 50px;
        font-size: 20px;
    }

    .main {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 100px 150px 100px;
        font-size: 18px;

    }

    .main__text-btnColors {
        width: 50%;
    }

    .parcours,
    .compétences,
    .atouts,
    .langue {
        font-size: 20px;
        line-height: 1.5;
    }

    .main__imgPresentation {
        border-radius: 40px;
    }

    .main__groupe-btnColors {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: center;
        padding-top: 20px;
        gap: 20px;

    }
    .main__groupe-btnColors_couleur:hover {
        transition: 0.5s ease;
    } .main__groupe-btnColors_couleur:hover {
        transform: scale(1.1);
    }

    footer {
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: space-between;
        margin: 30px;
        padding-bottom: 30px;

    }

    .footer__phoneNumber,
    .footer__email {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .footer__style--bold{
        font-weight: bold;
    }


    [href='#top'] {
        display: none;
    }

    .barre {
        border-right: ridge 1px black;
        padding-right: 20px;
    }


}


/* 





.navigation{
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    gap: 30px;
}
ul{
    margin: 0px;
    text-decoration: none;
    list-style-type: none;

}



.item_1 {
    font-weight: bold;
    font-size: 18px;
}

.main__text-btnColors{
    width: 30dvw;
    margin-left: 5dvw;
}



.langue{
    margin-bottom: 50px;
}
.presentation {
    line-height: 1.5;
    text-align: justify;
}
.hr{
    margin-top: 70px;
}




 */