@media only screen and (min-width:1025px) {

    html,
    body {
        font-family: 'Ubuntu', Helvetica, sans-serif;
        font-size: 18px;
        margin: 0;
        padding: 0;
        height: 100%;

    }

    .containair {
        padding: 0px 7vw 0px 7vw;
        line-height: 1.5;
    }

    .hidden {
        overflow: hidden;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px 50px 30px 50px;
        font-size: 20px;
    }

    .main {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5vh 10vh 17vh 10vh;
        font-size: 18px;
    }

    .main__text-btnColors {
        width: 35%;
    }

    .parcours,
    .compétences,
    .atouts,
    .langue {
        font-size: 20px;
        line-height: 1.5;
    }

    .main__imgPresentation {
        border-radius: 70px;

    }

    .main__groupe-btnColors {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        padding-top: 20px;
        gap: 50px;
    }

    .main__groupe-btnColors_couleur:hover {
        transition: 0.5s ease;
    }

    .main__groupe-btnColors_couleur:hover {
        transform: scale(1.1);
    }

    footer {
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: space-between;
        margin: 30px 30px 40px 30px;
    }

    .footer__phoneNumber,
    .footer__email {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1vh;

    }

    .footer__style--bold {
        font-weight: bold;
    }


    [href='#top'] {
        display: none;
    }

    .barre {
        border-right: ridge 1px black;
        padding-right: 20px;
    }

    /* page projet */
    .projetCard {
        display: flex;
        gap: 20vw;

    }

    .imgProjet,
    .descriptProjet {
        width: 50%;
        height: 100%;
    }

    .containair__titre-projet {
        text-align: left;
        padding: 0;
        font-size: 2rem;
    }

    /* page contact */
    .containair__dispositionContact {
        display: flex;
        justify-content: center;
        gap: 20vw;
        padding: 12dvh 2dvw 12dvh 2dvw;
    }

    form {
        width: 50%;
        display: flex;
        gap: 2vw;
        flex-wrap: wrap;

    }

    [type=submit] {
        margin: 1dvw 0dvw 0dvw 3dvw;
    }

    .containair__difirstContainer {
        display: inline-block;
    }

}